@import 'tailwindcss';

:root {
  background-color: #008080;

  &:has([role='dialog']) {
    overflow: hidden;
  }
}

fieldset {
  border-color: ButtonFace;
  border-style: groove;
  border-width: 2px;
}

.user-item:last-child {
  animation: appear 5s;
}

@keyframes appear {
  from {
    background-color: lightgreen;
  }
}

.password-strength-0 {
  background-color: lightgreen !important;
}

.password-strength-1 {
  background-color: lightyellow !important;
}

.password-strength-2 {
  background-color: yellow !important;
}

.password-strength-3 {
  background-color: orange !important;
}

.password-strength-4 {
  background-color: red !important;
}
