@import 'tailwindcss';
@import './box-wrapper.css';
@import './button.css';
@import './text.css';
@import './search.css';
@import './root-layout.css';
@import './item-selector.css';
@import './theme-button.css';

html {
  scrollbar-gutter: stable;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url('../assets/table.webp');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: contrast(50%) brightness(150%) grayscale(50%);
  }

  &:has(.dark-wrapper) {
    &::before {
      filter: contrast(50%) brightness(40%) grayscale(50%);
    }
  }
}

input[type='checkbox'] {
  cursor: pointer;

  position: relative;

  aspect-ratio: 1;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid;
  border-radius: 3px;

  appearance: none;
}

input[type='checkbox']::before {
  content: '🌶️';

  position: absolute;
  top: -0.2em;
  right: -1px;

  visibility: hidden;
}

input[type='checkbox']:checked::before {
  visibility: visible;
}
